.components-popup-dialog {
  font-size: small;
  padding: 0;
}

.components-popup-dialog .ui-dialog-titlebar-close {
  background: #F3F4EE url('../images/close.png') no-repeat scroll 6px 3px;
  border-color: #AAA;
  -moz-border-radius: 0 10px 12px 0;
  -webkit-border-radius: 0 10px 12px 0;
  border-radius: 0 10px 12px 0;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  -moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1);
  height: 22px;
  right: -28px;
  top: 0;
  width: 26px;
}

.components-popup-dialog .ui-dialog-titlebar-close span {
  display: none;
}

.components-popup-dialog #components-popup-title {
  background-color: #F3F4EE;
}

.components-popup-dialog #components-popup-title {
  font-size: 15px;
  padding: 8px 13px;
}

.components-popup-dialog #components-popup-body {
  margin: 0;
}

.components-popup-dialog #components-popup-body .form-wrapper {
  margin: 0;
  padding: 8px 13px;
}

.components-popup-dialog .scroll {
  border: 1px solid #CCC;
  border-width: 1px 0;
  padding: 8px 13px;
}

.components-popup-dialog fieldset .item-list {
  padding-left: 2em;
}

.components-popup-dialog #components-popup-body .form-actions {
  background-color: #F3F4EE;
  padding: 8px 13px;
}

.components-popup-dialog #components-popup-body .form-actions input {
  margin-bottom: 0;
  margin-right: 0;
}
